<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      {{ title }}
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">{{ title }}</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-card (click)="displayPost(featuredPost)" *ngIf="featuredPost">
    <img alt="{{ featuredPost.title }}" src="{{ featuredPost.image }}" />
    <ion-card-header>
      <ion-card-title>{{ featuredPost.title }}</ion-card-title>
      <ion-card-subtitle>
        par {{ featuredPost.user.firstName + ' ' + featuredPost.user.lastName }}
      </ion-card-subtitle>
    </ion-card-header>
  </ion-card>

  <ion-card>
    <ion-card-content class="actunews__card-content-list">
      <ion-list>
        <ion-item *ngFor="let post of posts" (click)="displayPost(post)">
          <ion-thumbnail slot="start">
            <img alt="{{ post.title }}" src="{{ post.image }}" />
          </ion-thumbnail>
          <ion-label>{{ post.title }}</ion-label>
        </ion-item>

      </ion-list>
    </ion-card-content>
  </ion-card>

  <!-- ----------------------------------------- -->

  <h2>Politique</h2>

  <ion-card (click)="displayPost(featuredPoliticPost)" *ngIf="featuredPoliticPost">
    <img alt="{{ featuredPoliticPost.title }}" src="{{ featuredPoliticPost.image }}" />
    <ion-card-header>
      <ion-card-title>{{ featuredPoliticPost.title }}</ion-card-title>
      <ion-card-subtitle>
        par {{ featuredPoliticPost.user.firstName + ' ' + featuredPoliticPost.user.lastName }}
      </ion-card-subtitle>
    </ion-card-header>
  </ion-card>

  <ion-card>
    <ion-card-content class="actunews__card-content-list">
      <ion-list>
        <ion-item *ngFor="let post of politicPosts" (click)="displayPost(post)">
          <ion-thumbnail slot="start">
            <img alt="{{ post.title }}" src="{{ post.image }}" />
          </ion-thumbnail>
          <ion-label>{{ post.title }}</ion-label>
        </ion-item>

      </ion-list>
    </ion-card-content>
  </ion-card>

  <h2>Economie</h2>

  <ion-card (click)="displayPost(featuredEcoPost)" *ngIf="featuredEcoPost">
    <img alt="{{ featuredEcoPost.title }}" src="{{ featuredEcoPost.image }}" />
    <ion-card-header>
      <ion-card-title>{{ featuredEcoPost.title }}</ion-card-title>
      <ion-card-subtitle>
        par {{ featuredEcoPost.user.firstName + ' ' + featuredEcoPost.user.lastName }}
      </ion-card-subtitle>
    </ion-card-header>
  </ion-card>

  <ion-card>
    <ion-card-content class="actunews__card-content-list">
      <ion-list>
        <ion-item *ngFor="let post of ecoPosts" (click)="displayPost(post)">
          <ion-thumbnail slot="start">
            <img alt="{{ post.title }}" src="{{ post.image }}" />
          </ion-thumbnail>
          <ion-label>{{ post.title }}</ion-label>
        </ion-item>

      </ion-list>
    </ion-card-content>
  </ion-card>

</ion-content>
